<a href="https://colab.research.google.com/github/HarshithaGanta/Data-Mining/blob/main/ADM_Lab_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

In [12]:
#Example data
data={'Category':['A','B','C','A','B']}
df=pd.DataFrame(data)
print(df)

  Category
0        A
1        B
2        C
3        A
4        B

In [13]:
Label_encoder=LabelEncoder()
df['Label_Encoded']=Label_encoder.fit_transform(df['Category'])
print(df)

  Category  Label_Encoded
0        A              0
1        B              1
2        C              2
3        A              0
4        B              1

In [14]:
one_hot_encoder=pd.get_dummies(df['Category'],prefix='Category')
df=pd.concat([df,one_hot_encoder],axis=1)
print(df)

  Category  Label_Encoded  Category_A  Category_B  Category_C
0        A              0        True       False       False
1        B              1       False        True       False
2        C              2       False       False        True
3        A              0        True       False       False
4        B              1       False        True       False

In [26]:
import pandas as pd
from datetime import datetime # Import the datetime module

data={'Name':['Alise','Bob','pooj'],'Date_of_birth':['1990-05-14','1995-08-23','1902-09-01']}
df=pd.DataFrame(data)
print(df)

df['Date_of_birth']=pd.to_datetime(df['Date_of_birth'])
current_year=datetime.now().year # Now you can use datetime.now().year
df['Age']=current_year-df['Date_of_birth'].dt.year
print(df)

    Name Date_of_birth
0  Alise    1990-05-14
1    Bob    1995-08-23
2   pooj    1902-09-01
    Name Date_of_birth  Age
0  Alise    1990-05-14   35
1    Bob    1995-08-23   30
2   pooj    1902-09-01  123

In [39]:
data={'Category':['A','B','B','A','C'],
      'Value':[10,20,10,30,40]}
pf=pd.DataFrame(data)
print(df)

    Name Date_of_birth  Age
0  Alise    1990-05-14   35
1    Bob    1995-08-23   30
2   pooj    1902-09-01  123

In [40]:
grouped_df=pf.groupby('Category').agg({'Value':['sum','mean']})
print("Grouped Data:")
print(grouped_df)

Grouped Data:
         Value
           sum  mean
Category
A           40  20.0
B           30  15.0
C           40  40.0

In [44]:
pivot=pf.pivot_table(index='Category',values='Value',aggfunc=['sum','mean'])

print(pivot)

           sum  mean
         Value Value
Category
A           40  20.0
B           30  15.0
C           40  40.0